@tailwind base;
@tailwind components;
@tailwind utilities;


/* Add to your App.css or index.css */
.gradient-background {
    background: linear-gradient(300deg, #f50000, #9c0f24, #000000);
    background-size: 180% 180%;
    animation: gradient-animation 10s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  